.container {
  display: grid;
  grid-template-columns: 160px 1fr; /* sidemenu 너비와 나머지 공간 */
  grid-template-rows: 80px 1fr; /* header 높이와 나머지 공간 */
  grid-template-areas:
    "header header"
    "sidemenu content";
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidemenu {
  grid-area: sidemenu;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.content {
  grid-area: content;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}
